<footer>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <h3>Clínica María Auxiliadora</h3>
             <ul>            
              <li><a href="servicios">Rehabilitación Oral</a></li>
              <li><a href="servicios">Implantes Dentales</a></li>
              <li><a href="servicios">Injertos y Costmética Dental</a></li>
              <li><a href="servicios">Estética Dental</a></li>
              <li><a href="servicios">Tratamientos</a></li>
              <li><a href="servicios">Beneficios</a></li>
            </ul> 
    </div>
    <div class="col-md-5">
      <h3>Ubicación</h3>
              <p>Urb. El Porvenir Mz. C Lt. 18 - 2do piso - Ate
                  (frente al Banco de Credito)
              </p>
              <h4>Telefono: </h4><p>351 4837</p>
              <h4>Email:<a href="mailto:hebmartinez@hotmail.com">hebmartinez@hotmail.com</a></h4>
    </div>
    <div class="col-md-4">
       <h3>Síguenos en:</h3><br>
          
          <a href="http://www.facebook.com/CDMariaAuxiliadora?fref=ts" target="_blank"><img src="<%= asset_path("Facebook.png") %>" /></a>
          <a href="#" target="_blank"><img src="<%= asset_path("Twitter.png") %>" /></a>
          <a href="#" target="_blank"><img src="<%= asset_path("youtube.png") %>" /></a>
    </div>
  </div>
</div>
        
                                         
      </footer>