@import "bootstrap-sprockets";
@import "bootstrap";

$celeste: #0296d7;

header{
    width: 100%;
    height: 200px;
    background: url(/assets/cabecera.jpg);
    background-size: 100% 200px;
}

footer,.navbar-default{
    background:$celeste;
}
.navbar-default,.panel-heading{
    background:$celeste !important;
    font-size: 1.5em;
}
footer a,.navbar-default a{
  color: #fff !important;
}
.navbar-default a:hover{
  color:#000 !important;
}
.navbar-default .active a{
  color:$celeste !important;
}
.panel-heading a{
  color:#fff;
  font-size: 1em;
}



